// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.row {
	margin-left: 0;
	margin-right: 0;
}

.fixed-top {
	max-width: 1920px;
	margin: 0 auto;
	
}
@media only screen and ( min-width: 1950px) {
	.fixed-top {
		left: unset;
		right: unset;
		width: 1940px;
	}
}
.hamburger-menu {
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	&:focus {
		outline: none;
	}
}
#wrapper-navbar {
	position: relative;
}
.navbar {
	
	padding-top: 0;
	@include media-breakpoint-up( sm ) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	padding-left: 18px;
	padding-right: 21px;
	z-index: 10;
	@include media-breakpoint-between(sm, lg){
		justify-content: space-between;
		height: 135px;
	}
	@include media-breakpoint-up(xl) {
		padding-left: 65px;
		padding-right: 65px;
	}
	li {
		margin: 0 10px;
	}
	.menu-header-nav-container {
		@include media-breakpoint-between(sm, md){
			position: absolute;
			top: 149px;
			
		}
	}
	&-nav {
		display:none;
		
		@include media-breakpoint-up(md){
			display: flex;	
		}
		a {
			font-family: $caption;
			font-size: 18px;
			color: $white;
		}
	}

	.menu-right-wrapper {
		@include media-breakpoint-down(xs){
			width: 120px;
		}
		display: inherit;
		margin-left: auto;
		// display: flex;
    	align-items: center;
	}
	.fa {
		color: $white;
		font-size: 18px;

		&:hover {
			opacity: 0.5;
		}
	}
}
.start-position {
	//position: absolute;
    //left: 0;
	//right: 0;
	background: none;
}
.fixed-top {
	.menu-header-nav-container {
		@include media-breakpoint-down(md){
			position: absolute;
			top: 94px;
			
		}
	}
}
.navbar-toggler {
	position: absolute;
	left: -999999;
}

.scrolled {
	.navbar {
		background-color: white;
		-webkit-transition: background-color 1s;
    	-moz-transition: background-color 1s;
   		-o-transition: background-color 1s;
    	transition: background-color 1s;
		a {
			-webkit-transition: color  1s;
    		-moz-transition: color  1s;
    		-o-transition: color  1s;
    		transition: color  1s;
			color: $primary;
		}
		.fa {
			-webkit-transition: color 1s;
    		-moz-transition: color 1s;
    		-o-transition: color 1s;
    		transition: color 1s;
			color: $primary;
		}
		
	}
}

.custom-logo-link {
	img {
		@media screen and (max-width: 375px ){
			width: 139px;
		}
		
		@include media-breakpoint-up(xs) {
			width: 169px;
		}
		@include media-breakpoint-up(sm){
			width: 225px;
		}
	}
	
	
}
.modal-dialog {
	margin: 0 0 auto auto;
}


#wrapper-static-hero {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-position: top right;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	background-size: cover;
	background-image: url('../img/young-boy-sm.jpg');
	@include media-breakpoint-up(sm) {
		background-image: url('../img/young-boy-md.jpg');
	}
	@include media-breakpoint-up(lg){
		background-image: url('../img/young-boy-lg.jpg');
	}
	@include media-breakpoint-up(xl){
		background-image: url('../img/young-boy-xl.jpg');
	}
	#wrapper-static-content {
		text-align: center;
		position: absolute;
		bottom: 0;
		padding-bottom: 18px;
		@include media-breakpoint-up(sm){
			padding-bottom: 44px;
		}
		
		.row {
			@include media-breakpoint-up(xl) {
				padding-bottom: 128px;
			}

		}
		
		.static-hero-widget {
			text-align: left;
		}
	}
}
.scroll-down {
	width: 11px;
	margin: 0 auto;
}

.what-you-can-do {
	background-image: url('../img/mother.jpg');
	@include media-breakpoint-up(sm){
		background-image: url('../img/mother-md.png');
	}
	@include media-breakpoint-up(xl){
		background-image: url('../img/mother.jpg');
	}
	
	background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 546px;
    // padding-top: 546px; 
	color: $white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	@include media-breakpoint-up( sm ){
		// padding-top: 88.39%;
		height: 920px;
	}
	@include media-breakpoint-up( lg ){
		// padding-top: 54.2%;
		background-size: cover;
	}
	@include media-breakpoint-up( xl ){
		//padding-top: 44.2%;
		background-size: cover;
	}
	// &-text {
	// 	position: absolute;
	// 	top: 163px;
	// 	left: 0;
	// 	right: 0;
	// 	margin-left: 0;
	// 	margin-right: 0;

	// 	@include media-breakpoint-up(md) {
	// 		top: 60%;
	// 	}
		
	// }
	p {
		max-width: 375px;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up( sm ){
			max-width: 444px;
		}
		@include media-breakpoint-up( lg ){
			max-width: 490px;
		}
		
	}
}

.blog-list {
	padding: 54px 40px 54px 32px;
	@include media-breakpoint-up( lg ) {
		padding:  90px 0 0 77px
	}

	.front-page-blog-feed {
		list-style: none;
		padding-left: 0;
		font-family: $serif;
		color: $hemlock;
		max-width: 741px;
		li {
			border-bottom: 1px solid $grey;
			padding-top: 20px;
			padding-bottom: 29px;
			@include media-breakpoint-up(xl) {
				padding-bottom: 39px;
			}
			
		}
		.blog-title {
			width: 100%;
			display: block;
			font-size: 18px;
			@include media-breakpoint-up(md){
				font-size: 22px;
			}
		}
		.blog-date {
			font-size: 16px;
			
		}
	}
}

#full-width-page-wrapper {
	padding: 0;

	.content-area {
		padding: 0;
	}

	.full-width-header {
		position: relative;
		header {
			position: absolute;
			bottom: 35px;
			left: 81px;
			display: block;
			@include media-breakpoint-up(md) {
				bottom: 15%;
				left: $content_left;
			}
			
		}
	}

	.container-fluid {
		padding: 0;
	}
}

.social-icons {
	width: 138px;
	display: flex;
	justify-content: space-between;
	img {
		width: 30px;
	}
}
.search {
	.internal-left {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: flex-end;
		}

	}
}
.internal-left {
	background-color: $light_yellow;
	@include media-breakpoint-up(md){
	padding: 30px 0;
	}
	.internal-left-content {
		width: 185px;
		// padding: 20px 0;
		margin-top: 75px;
		margin-right: 45px;
		.search-text {
			font-family: $serif;
			margin: 0;
		}
		.search-result {
			font-weight: bold;
		}

	}	
		.left-title {
			display: none;
			@include media-breakpoint-up(md) {
				display: flex;
				justify-content: flex-end;
			}
			
			
			
			h3 {
				width: 185px;
				//margin-left: $content_left_30;
				padding: 20px 0;
				margin-right: 45px;
			}
		}
		
	
}
.internal-menu {
	padding: 0;
	ul {
		background-color: $light_yellow;
		font-family: $serif;
		font-size: 16px;
		color: $tundora;
		list-style: none;
		height: 52px;
		display: flex;
  		align-items: stretch;
		overflow-x: scroll;
		overflow-y: hidden;
  		flex-wrap: nowrap;
		-webkit-overflow-scrolling: touch;
		padding: 0;
		margin: 0;
		@include media-breakpoint-up(md) {
			display: block;
  			align-items: stretch;
  			overflow-x: hidden;
  			flex-wrap: nowrap;
			-webkit-overflow-scrolling: none;
			height: 100%;
			padding: 0;
		}
		li {
			//transform: rotate(90deg);
			//transform-origin: right top;
			align-items: center;
    		display: flex;
			@include media-breakpoint-up( md ){
				
				justify-content: flex-end;
			}
			&:hover {
				background-color: #DFD2A5;
			}
			a {
				white-space: nowrap;
				@include media-breakpoint-up( md ){
					width: 185px;
					padding: 15px 10px 16px 0; 
					border-top: 1px solid #c6b798;
					margin-right: 45px;
					// margin-left: $content_left_30;
					float: right;
					white-space: normal;
				}
			}
		}
		.active, .current-page-ancestor {
			background-color: $dark_yellow;
			-webkit-transition: background-color 0.5s ease-out;
  			-moz-transition: background-color 0.5s ease-out;
  			-o-transition: background-color 0.5s ease-out;
			  transition: background-color 0.5s ease-out;
			 

			// &:after {
			// 	content: '';
			// 	height: 1px;
			// 	width: 100px;
			// 	border: 1px solid $indicator;
			// 	position: absolute;
			// 	bottom: -8px;
			// 	padding: 0 5px;
			// 	// left: 0;
			// }
			@include media-breakpoint-up(md){
				&:after {
					content: '';
					width: 0; 
					height: 0; 
					border-top: 15px solid transparent;
					border-bottom: 15px solid transparent;
					z-index: 1;
					border-left: 15px solid $dark_yellow;
					position: absolute;
					right: -15px;
					// margin-top: 15px;
	
				}
			}
  				
		}
	}
}

.indicator {
	width: 50px;
  height: 1px;
  background: $indicator;
  position: absolute;
  margin-top: 58px;
  margin-left:0;
  
  -webkit-transition: margin 0.5s ease;
  
  transition: margin 0.5s ease;
}
.blog-home, .search {
	.entry-content {
		@include media-breakpoint-down(md) {
			padding: 20px;
		}
		article {
			margin-top: 1rem;
    		margin-bottom: 1rem;
    		border: 0;
			border-bottom: 1px solid rgba(0,0,0,.1);
			padding: 20px 0;
		}
		
	}
}
.entry-content {
	background-color: #f7f7f7;
	.page-title {
		padding-top: 25px;
		padding-left: 20px;
		@include media-breakpoint-up(md){
			padding-top: 0;
			padding-left: 40px;
		}
		
	}
	@include media-breakpoint-up(md ){
		padding: 45px 80px 97px 33px;
	}
	@include media-breakpoint-up( xl ){
		padding: 69px 200px 97px 113px;
	}
	
}
.blog-home, .search {
	.entry-content {
		background-color: #F7F7F7;

		.news-subheading {
			font-size: 20px;
			font-family: $serif;
			color: $tundora;
			margin: 20px 0 40px;
		}
	}
}
#hfi-boards-tabs {
	max-width: 1100px;
	margin: 0 auto;
	@include media-breakpoint-up(xl){
		max-width: 1200px;
	}
	ul {
		font-family: $serif;
		font-size: 18px;
		justify-content: center;
		.ui-state-default a {
			color: #919191;
			text-decoration: none;
		}
		.ui-state-active a {
			text-decoration: underline;
			color: #115091;
		}
	}
	.board {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}
.person {
	width: 280px;
	margin-bottom: 25px;
	p {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 0;
	}
}
.publications-wrap {
	margin: 75px 0 100px;
	padding: 0 20px;
	@include media-breakpoint-up(md) {
		margin-left: $content_left;
	}
	.publications-text {
		font-family: $serif;
		font-size: 20px;
		color: #424242;
		margin: 40px 0;
	}
}
.publications {
	
	display: flex;
	flex-wrap: wrap;
	
	.publication-category {
		display: block;
		margin-bottom: 35px;
		@include media-breakpoint-up(md) {
			display: flex;
			width: 480px;
		}
		
	}
	.first-publication {
		text-align: center;
		a {
			display: block;
			width: 173px;
			margin-top: 10px;
			height: 55px;
			margin: 0 auto;

		}
	}

	.publication-list {
		margin-left: 18px;
		h4 {
			@include media-breakpoint-down(md) {
				text-align: center;
			}
		}
		@include media-breakpoint-down(md){
			margin-top: 20px;
		}
		a {
			display: block;
			font-family: $serif;
			
			&:before{
				font-family: 'FontAwesome';
				content: '\f1c1';
				color: #FF0000;
				font-size: 25px;
				padding-right: 10px;
			}
		}
	}
}

.events-title-area {
	margin-bottom: 20px;
	hr {
		padding: 20px 0 40px 0;
	}
}

.tribe-events-list {
	.type-tribe_events {
		@include media-breakpoint-up( md ){
			display: flex;
		}
		.events-preview-content {
			@include media-breakpoint-up(md) {
				
				width: 65%
			}
		
		}
		
	}
	.tribe-events-loop .tribe-events-event-image {
		max-width: 280px;
	}
}
.event-preview-content {
	@include media-breakpoint-up(md) {
		padding-left: 20px;
	}
}	

.hfi-history-tab {
	.fl-row-content-wrap {
		padding: 0 !important;
	}
	.fl-module-content {
		margin: 0 !important;
	}
	.fl-tabs-panels {
		border-color: white !important;
	}
}

.pay-now-form {
	.hfi-form-row {
		padding: 15px 0;
		@include media-breakpoint-up(md) {
			display: flex;
		}
		
		.left {
			padding-right: 40px;
		}
	}
	 
		label {
			display: block;
		}
		input {
			display: block;
		}
	

}
#ui-datepicker-div {
	background-color: $dark_yellow;	
}