// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

//colors
$primary: #0C5096; // Thats a sample how you could change a BootStrap variable.
$blue: #105194;
$light_blue: #86C1FF;
$background_blue: #071e35;
$dark_blue: #0d3762;
$link_blue: #024d99;
$white: #ffffff;
$gold: #E2B526;
$green: #4C9E00;
$nepal: #81A3BC;
$night_shadz: #AA3557;
$blue_bell: #A49CCF;
$hemlock: #5D5438;
$rhino: #263B52;
$tundora: #424242;
$grey: #cecece;
$light_yellow: #E8DDBE;
$dark_yellow: #CBBB6C;
$indicator: #707070;

$modal-backdrop-bg: $primary;

$modal-backdrop-opacity: .85;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1350px
);
$border-radius: 0;
$pagination-bg: inherit;
$pagination-border-width: 0;
$pagination-active-color: $dark_blue;
$pagination-active-bg: $dark_yellow;
$pagination-active-border-color: $dark_yellow;
$pagination-hover-bg: #F0D991;

//@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
//@include _assert-starts-at-zero($grid-breakpoints);

//* Fonts
//
$roboto: 'Roboto', sans-serif;
$serif: 'PT Serif', serif;
$sans: 'PT Sans', sans-serif;
$caption: 'PT Serif Caption', serif;


$content_left: calc(30% - 230px);
$content_left_30: 60%;







