.wrapper-footer-top {
	padding: 0;
	
	.container {
		max-width: 1920px;
		margin: 0;
	}
}

.footer-top-row {
	.widget_text {
		a {
			color: $white;
			&:hover {
				color: $white;
			}
		}

	}
	color: $white;
	
	.footer-widget {
		padding: 31px 0 15px 32px;
		width: 100%;
		@include media-breakpoint-up(lg) {
			padding: 31px 0 32px 43px;
		}
		img {
			float: right;
		}
		&:first-child{
			background-color: $nepal;
			&:hover {
				background-color: #6B869A;
			}
			img {
				width: 172px;
				margin-right: 44px;
				margin-top: 31px;
				@include media-breakpoint-up(lg) {
					width: 215px;
				}
				@include media-breakpoint-up(xl) {
					margin-right: 77px;
					margin-top: 0;
					width: 280px;
				}
			}
		}
		&:nth-child(2){
			background-color: $night_shadz;
			&:hover {
				background-color: #81243E;
			}
			img {
				width: 200px;
				margin-right: 31px;
				margin-top: 31px;
				@include media-breakpoint-up(lg) {
					width: 245px;
				}
				@include media-breakpoint-up(xl) {
					width: 308px;
					margin-top: 0;
					margin-right: 69px;
				}
			}
		}
		&:nth-child(3){
			background-color: $blue_bell;
			&:hover {
				background-color: #766D9B;
			}
			img {
				width: 203px;
				margin-top: 31px;
				@include media-breakpoint-up(lg){
					width: 262px;
				}
				@include media-breakpoint-up(xl) {
					margin-top: 0;
					width: 360px;
				}
			}
			
		}

	}
	
	
	
}

#wrapper-footer-full {
	background-color: $blue;
	color: $white;
	font-family: $serif;
	.footer-full-row {
		max-width: 1185px;
    	margin: 0 auto;
	}
	.col-sm-6 {
		@include media-breakpoint-up(sm){
			margin-bottom: 36px;
		}
		
	}
	.footer-widget {
		ul {
			list-style: none;
			padding-left: 0;
		}
	}
	a {
		color: $light_blue;
		&.contact {
			padding-bottom: 36px;
			display: block;
			@include media-breakpoint-up(sm){
				font-size: 26px;
				line-height: 33px;
			}
		}
	}

	.widget_hfi_menu_widget {
		.widget-title {
			@include media-breakpoint-up( sm ){
				margin-bottom: 36px;
			}
			
			a {
				color: $white;
			}
		}

		ul {
			li {
				margin-bottom: 6px;
			}
		}
	}
	.widget_hfi_contact_widget {
		h3 {
			margin-bottom: 0;
		}
	}
	.social-icons {
		margin-top: 11px;
	}
}

#wrapper-footer {
	background-color: $dark_blue;
	color: $light_blue;
	font-family: $serif;
	font-size: 13px;
	@include tracking(30);
	line-height: 17px;

	
	.site-info {
		text-align: center;
		max-width: 562px;
		margin: 0 auto;
		@include media-breakpoint-up(lg) {
			max-width: 850px;
		}
		@include media-breakpoint-up(xl) {
			max-width: 1169px;
		}
	}

	
}