html {
	background-color: $background_blue;
}
body {
	max-width: 1920px;
	margin: 0 auto;
}

a {
	color: $link_blue;
}
.container {
	@include media-breakpoint-up(md) {
		margin: 0 64px;
	}
	@include media-breakpoint-up(xl) {
		max-width: 1793px;
	}
	
}

.container-fluid {
	padding: 0
}
h1{
	color: $white;
	font-family: $serif;
	font-size: 38px;
	@include tracking(-10);
	line-height: 47px;
	@include media-breakpoint-up(md){
		font-size: 55px;
		line-height: 76px;
	}
	@include media-breakpoint-up(xl){
		font-size: 66px;
	}
}

h2 {
	font-family: $serif;
	font-size: 22px;
	line-height: 32px;
	@include tracking(0);
}
.h2 {
	font-family: $serif;
	font-size: 28px;
	line-height: 37px;
	@include tracking(-10);
}

h3 {
	font-family: $roboto;
	font-size: 14px;
	@include tracking(100);
	line-height: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
h4 {
	font-family: $roboto;
	font-size: 16px;
	@include tracking(0);
	line-height: 16px;
	font-weight: bold;
}
p {
	font-family: $roboto;
	font-size: 16px;
	line-height: 28px;
}

.hf-button {
	display: inline-block;
	font-size: 16px;
	margin: 0 auto;
	color: $white;
	font-family: $serif;
	border: 3px solid $white;
	width: 140px;
	//max-height: 48px;
	padding: 16px 0;
	//line-height: 48px;
	  //white-space: nowrap;
	&:hover {
		color: $white;
		text-decoration: none;
	}
}

.donate-btn {
	display: flex;
    align-items: center;
    justify-content: center;
	font-family: $serif;
	font-size: 16px;
	color: $rhino;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	height: 31px;
	width: 84px;
	background-color: $gold;
	margin-right: 20px;
	@include media-breakpoint-up(xs){
		margin-right: 32px;
	}
	&:hover {
		background-color: #F0D991;
	}
	@include media-breakpoint-up(sm) {
		width: 145px;
		height: 45px;
		font-size: 18px;
	}
	&:hover {
		text-decoration: none;
	}


}
.modal {
	.modal-dialog {
		height: 100%;
		max-width: 659px;
		width: 310px;
		@include media-breakpoint-up(md){
			width: 659px;
		}
		.close {
			font-size: 18px;
			color: $primary;
			line-height: 1; 
			text-shadow: none;
			margin: 0;
			opacity: 1;
			@include media-breakpoint-up(lg){
				padding-right: 6px;
				padding-left: 10px;
			}
			
			img {
				width: 18px;
			}
		}
	}
	.nav-link {
		padding-top: 0;
		padding-bottom: 0;
	}
	.modal-body {
		padding: 0;
	}
	.modal-content {
		border-radius: 0;
		height: 100%;
		position: relative;
		font-family: $serif;
		font-size: 23px;
		@include media-breakpoint-up(md){
			font-size: 39px;
		}
		
		@include tracking(-10);
		li {
			list-style: none;
		}
		.modal-header {
			display: block;
			padding: 0;
		}
		.dropdown-header {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			position: relative;
			padding: 0;
			@include media-breakpoint-up(sm){
				margin-top: 10px;
				margin-right: 20px;
			}
			@include media-breakpoint-up(md){
				margin-top: 41px;
				
			}
			@include media-breakpoint-up(xl){
				margin-top: 37px;
				margin-right: 65px;
			}
			.donate-btn {
				margin-right: 27px;
			}
			
			
		}
		svg {
			fill: $dark_blue;
			width: 24px;
			height: 24px;
		}
	}
	.modal-body{
		.social-and-search {
			display: flex;
			position: absolute;
			bottom: 10px;
			left: 57px;
			width: 100%;
			height: 58px;
    		align-items: center;
			.search-menu {
				width: 65%;
				text-align: right;
				padding-left: 10px;
			}
		}
	}
}

.checked-list {

	list-style: none;

	li:before{	
	content: "\f00c";
	color: $green;
	display: inline-block;
	font-family: 'fontawesome';
	margin-left: -36px;
	width: 36px;
	}
}

.yellow-accordian-buttons {
	.uabb-adv-accordion-icon-wrap {
		background-color: #E2B526;
    	padding: 12px;
    	border-radius: 6px;
	}
	.uabb-adv-accordion-item-active {
		.uabb-adv-accordion-icon-wrap {
			background-color: #E8DDBE;

		}
	}
}

.site-main {
	.col-md-3 {
		@include media-breakpoint-up(md) {
			flex: 0 0 30%;
			max-width: 30%;
			
		}
		&.main-nav-page {
			@include media-breakpoint-up(lg){
				padding-left: 90px;
			}
			@include media-breakpoint-up(xl){
				padding-left: 150px;
			}
			
		}

	}
	.col-md-9 {
		padding: 0;
		@include media-breakpoint-up(md) {
			flex: 0 0 70%;
			max-width: 70%;
		}
	}
}
